*{
    margin: 0;position: relative;
}
#qianfeng{
    width: 100%;
    height: 1401px;
} 

.content{
    width: 1100px;
    height: 100%;
    margin: auto;
    background: #ccc;
}
.daohang{
    width: 100%;
    height: 62px;
    background: #232323;

}
.a{
    width: 100%;
    height: 420px;
    background-image: url(../images/tu.png);
    background-position: center center;
}
.b{
    height: 350px;
    width: 100%;
    background: #f5f5f5;
}
.c{
    height: 310px;
    width: 100%;
}
.d{
    height: 214px;
    width: 100%;
    background: #222222;
}
.e{
    height: 45px;
    width: 100%;
    background: #101010;
}